DATABASE_URL=postgresql://neondb_owner:npg_XCw7mzdcW9pP@ep-lucky-cloud-ac1e34f7.sa-east-1.aws.neon.tech/neondb?sslmode=require
AUTH_SECRET=9s62av1u8z5otrk3f4ygmehdn70jqcbxlipw
NEXTAUTH_URL=https://push-service-gamma.vercel.app
ONESIGNAL_APP_ID=62b94089-cae9-4a74-aaf5-d7af4389d1f0
ONESIGNAL_REST_API_KEY=os_v2_app_mk4ubcok5ffhjkxv26xuhcor6cwiqskbjnoehmemkjcbnaenqkxbgrmhfax6oevfmg2njvp2iy7smfftlktdpkt6hok5d7xagzl6f3q
NEXT_PUBLIC_ONESIGNAL_APP_ID=62b94089-cae9-4a74-aaf5-d7af4389d1f0
